langchain~=0.0.353
openai
tiktoken
weaviate-client
wikipedia
pyowm
nemoguardrails~=0.5.0
black
isort
Flask
transformers~=4.35.2
gradio
pypdf
unstructured
pdfminer.six
pandoc
pypandoc
fastapi~=0.96.0
black
isort
websockets
pydantic~=1.10.13
uvicorn
jinja2
faiss-cpu
bs4
unstructured
libmagic
Mastodon.py
opencv-python
scikit-image
openai
nest_asyncio
python-dotenv~=1.0.0
google-search-results
numexpr
streamlit-feedback
duckduckgo-search
pydantic
pytest
numpy~=1.25.2
tqdm~=4.66.1
requests~=2.31.0
transformers
redis~=5.0.1
openai
langchain
python-dotenv
streamlit~=1.27.1
fastapi
uvicorn
langchain
faiss-cpu
streamlit
streamlit-chat
tiktoken
weaviate-client
black
isort
Flask
transformers
gradio
pypdf
unstructured
pdfminer.six
pandoc
pypandoc
fastapi
black
isort
websockets
pydantic
uvicorn
jinja2
faiss-cpu
bs4
unstructured
libmagic
Mastodon.py
opencv-python
scikit-image
openai
nest_asyncio
python-dotenv
google-search-results
numexpr
streamlit-feedback
duckduckgo-search
langsmith~=0.0.83
pandas~=2.1.1